<font color = Magenta> _Lixandru Andreea Bianca 382
 <br>   Pepene Adina Florentina 382_

# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. (optional) Afisati primele 5 linii din tabel
    1. (optional) Care este numarul de inregistrari din DataFrame?
    1. (optional) Comparati iesirea metodelor `info()` si `describe()`.
    1. (optional) Care e numarul de coloane? afisati numele lor.
    1. (0.5 puncte) Cum e indexat setul de date? sunt valorile din index unice?
    1. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.
    1. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. (optional) Cate echipe au participat la Euro 2012?
    1. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?
    1. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 23-27 martie 2020.
* Temele se pot lucra in echipe de cate 2 studenti. Tema se va depune in lucrarea de pe site=ul de elearning

1.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./chipotle.tsv",sep='\t')

In [3]:
#A primele 5 valori

df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#B nr de inregistrari(nu este inclus si header-ul)

print ("Nr of rows: ", df.shape[0])

Nr of rows:  4622

In [5]:
#C info() vs describe()

df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [6]:
#D nr de coloane si numele lor

print ("Number of cols: ", df.shape[1])
print (df.columns)

Number of cols:  5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
#E Cum e indexat setul de date? sunt valorile din index unice?

print (type(df.index))
print (df.index.is_unique)

<class 'pandas.core.indexes.range.RangeIndex'>
True

In [8]:
#F Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?

unique_items = df['item_name'].unique()
unique_items.sort()
print(unique_items)
print("Number of items: ", unique_items.shape[0])

['6 Pack Soft Drink' 'Barbacoa Bowl' 'Barbacoa Burrito'
 'Barbacoa Crispy Tacos' 'Barbacoa Salad Bowl' 'Barbacoa Soft Tacos'
 'Bottled Water' 'Bowl' 'Burrito' 'Canned Soda' 'Canned Soft Drink'
 'Carnitas Bowl' 'Carnitas Burrito' 'Carnitas Crispy Tacos'
 'Carnitas Salad' 'Carnitas Salad Bowl' 'Carnitas Soft Tacos'
 'Chicken Bowl' 'Chicken Burrito' 'Chicken Crispy Tacos' 'Chicken Salad'
 'Chicken Salad Bowl' 'Chicken Soft Tacos' 'Chips'
 'Chips and Fresh Tomato Salsa' 'Chips and Guacamole'
 'Chips and Mild Fresh Tomato Salsa' 'Chips and Roasted Chili Corn Salsa'
 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Tomatillo Green Chili Salsa'
 'Chips and Tomatillo Red Chili Salsa'
 'Chips and Tomatillo-Green Chili Salsa'
 'Chips and Tomatillo-Red Chili Salsa' 'Crispy Tacos' 'Izze'
 'Nantucket Nectar' 'Salad' 'Side of Chips' 'Steak Bowl' 'Steak Burrito'
 'Steak Crispy Tacos' 'Steak Salad' 'Steak Salad Bowl' 'Steak Soft Tacos'
 'Veggie Bowl' 'Veggie Burrito' 'Veggie Crispy Tacos' 'Veggie Salad'
 'Veggie Salad Bowl' 'Veggie Soft Tacos']
Number of items:  50

In [9]:
#G Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?

print(sum(df['quantity']))

4972

In [10]:
#H Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point.
# Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? 
# Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? 
# Nota: puteti folosi metoda describe() a unui dataframe/series.

item_prices = pd.DataFrame(df['item_price'].str.replace('$',' '), dtype=float)

item_prices.head()

positions = df.loc[df['item_name']=='Chicken Crispy Tacos'].index
item_prices_chicken_crispy_tacos = item_prices.loc[positions]
item_prices_chicken_crispy_tacos.head()

total_price_chicken_crispy_tacos = sum(item_prices_chicken_crispy_tacos['item_price']*
                                       df.loc[df['item_name']=='Chicken Crispy Tacos'].quantity)

print ("Min:", item_prices_chicken_crispy_tacos.min())
print ("Max:", item_prices_chicken_crispy_tacos.max())
print ("Mean:", item_prices_chicken_crispy_tacos.mean())
print ("Median:", item_prices_chicken_crispy_tacos.median())
print ("Count:", item_prices_chicken_crispy_tacos.count())

print ("Total price:", total_price_chicken_crispy_tacos)

Min: item_price    8.49
dtype: float64
Max: item_price    17.5
dtype: float64
Mean: item_price    10.045319
dtype: float64
Median: item_price    8.75
dtype: float64
Count: item_price    47
dtype: int64
Total price: 524.1100000000001

In [11]:
#I  Care sunt cele mai comandate 3 marfuri? Folositi groupby() pentru grupare, 
# ne intereseaza cantitatile cele mai mari. Nota: sectiunea 'Aggregation and Grouping' 
# din Python Data Science Handbook e utila pentru intelegerea agregarilor.

groups = df.groupby('item_name').sum().reset_index()
groups = groups.sort_values(by='quantity', ascending=False)

groups.head(3)

              item_name  order_id  quantity
17         Chicken Bowl    713926       761
18      Chicken Burrito    497303       591
25  Chips and Guacamole    449959       506

In [12]:
#J  De cate ori s-a comandat 'Veggie Salad Bowl'?

counter = df['item_name'].value_counts()
#print(counter)

print("Veggie Salad Bowl was ordered for", counter['Veggie Salad Bowl'], "times.")

Veggie Salad Bowl was ordered for 18 times.

In [13]:
#K De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?

more_than_one_quantity = df[df.quantity > 1]
counter_more_than_once = more_than_one_quantity['item_name'].value_counts()

print("Canned Soda was ordered for", counter_more_than_once['Canned Soda'], "times.")

Canned Soda was ordered for 20 times.

In [14]:
#L  Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat
# trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare
# (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)

df.head()

copy_item_price = df['item_price'].str.replace('$',' ')

df['item_price'] = copy_item_price
df['item_price'] = pd.to_numeric(df['item_price'])

df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [15]:
import numpy as np

In [16]:
dataTypeSeries = df.dtypes
 
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

df_with_total_prices = df.copy()
df_with_total_prices.insert(5, 'total_price', df.quantity * df.item_price)

df_with_total_prices.head()

dataTypeSeries = df_with_total_prices.dtypes
 
print('Data type of each column of Dataframe :')
print(dataTypeSeries)

Data type of each column of Dataframe :
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object
Data type of each column of Dataframe :
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
total_price           float64
dtype: object

In [17]:
calculate_price = df_with_total_prices.groupby('order_id').sum().reset_index()

print (calculate_price['total_price'])

0       11.56
1       33.96
2       12.67
3       21.00
4       13.70
        ...
1829    23.00
1830    12.90
1831    13.20
1832    23.50
1833    28.75
Name: total_price, Length: 1834, dtype: float64

3.

In [18]:
df = pd.read_csv("./drinks.csv",sep=',')

df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [19]:
#A Pe care continent se bea mai multa bere, in medie?

continent_df = df.groupby('continent')

continent_df.sum()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,3258,866,862,159.4
AS,1630,2677,399,95.5
EU,8720,5965,6400,387.8
OC,1435,935,570,54.1
SA,2101,1377,749,75.7

In [20]:
average_consumption = continent_df.beer_servings.mean()

print (average_consumption)

print ("Continentul pe care se bea cea mai multa bere, in medie este: ",
       average_consumption[average_consumption==average_consumption.max()])

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
Continentul pe care se bea cea mai multa bere, in medie este:  continent
EU    193.777778
Name: beer_servings, dtype: float64

In [21]:
#B Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.

continent_df['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [22]:
#C Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia agg.

continent_df.beer_servings.aggregate(['min', 'max', 'mean'])

           min  max        mean
continent
AF           0  376   61.471698
AS           0  247   37.045455
EU           0  361  193.777778
OC           0  306   89.687500
SA          93  333  175.083333

2.

In [23]:
df = pd.read_csv("./stats.csv",sep=',')
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [24]:
#A Cate echipe au participat la Euro 2012?

print("La Euro 2012 au participat", df.shape[0], "echipe.")

La Euro 2012 au participat 16 echipe.

In [25]:
#B Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, 
#descrescator - sortare dupa criteriu dublu.

teams = df.sort_values(['Red Cards', 'Yellow Cards'], ascending=[False, False])
print(teams[['Team', 'Red Cards', 'Yellow Cards']])

                   Team  Red Cards  Yellow Cards
6                Greece          1             9
9                Poland          1             7
11  Republic of Ireland          1             6
7                 Italy          0            16
10             Portugal          0            12
13                Spain          0            11
0               Croatia          0             9
1        Czech Republic          0             7
14               Sweden          0             7
4                France          0             6
12               Russia          0             6
3               England          0             5
8           Netherlands          0             5
15              Ukraine          0             5
2               Denmark          0             4
5               Germany          0             4

In [26]:
#C Care e numarul mediu de cartonase rosii date? Dar mediana?

print("Numarul mediu de cartonase rosii:", df['Red Cards'].mean())
print("Mediana de cartonase rosii:", df['Red Cards'].median())

Numarul mediu de cartonase rosii: 0.1875
Mediana de cartonase rosii: 0.0

In [27]:
#D Care sunt echipele care au luat mai multe cartonase rosii decat media?

group = df[df['Red Cards'] > df['Red Cards'].mean()]
print("Echipele care au luat mai multe cartonase rosii decat media\n", group[['Team', 'Red Cards']])

Echipele care au luat mai multe cartonase rosii decat media
                    Team  Red Cards
6                Greece          1
9                Poland          1
11  Republic of Ireland          1

In [28]:
#E Care sunt echipele al caror nume incepe cu litera G? Indicatie: 
#documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.

found_team = df[df['Team'].str.contains('G')]
print("Echipele al caror nume incepe cu litera G:\n", found_team['Team'])

Echipele al caror nume incepe cu litera G:
 5    Germany
6     Greece
Name: Team, dtype: object

In [38]:
#F Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?

list_country: list=[]
index_list: list=[]

for i in df:
        list_country.append(df[i].values)
# print(list_country[0])
        
for j in range(len(list_country[0])):
#     print(j)
#     print(list_country[0][j])
    if list_country[0][j]=='England' or list_country[0][j]=='Greece' or list_country[0][j]=='Russia':
        index_list.append(j)
# print(index_list) 

shooting = df.loc[index_list, ['Team', 'Shooting Accuracy']]
print(shooting)
        
# shooting_england = df.loc[df['Team']=='England', ['Team', 'Shooting Accuracy']]
# shooting_greece = df.loc[df['Team']=='Greece', ['Team', 'Shooting Accuracy']]
# shooting_russia = df.loc[df['Team']=='Russia', ['Team', 'Shooting Accuracy']]
# print(shooting_england)
# print(shooting_greece)
# print(shooting_russia)

       Team Shooting Accuracy
3   England             50.0%
6    Greece             30.7%
12   Russia             22.5%