# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. (optional) Afisati primele 5 linii din tabel
    1. (optional) Care este numarul de inregistrari din DataFrame?
    1. (optional) Comparati iesirea metodelor `info()` si `describe()`.
    1. (optional) Care e numarul de coloane? afisati numele lor.
    1. (0.5 puncte) Cum e indexat setul de date? sunt valorile din index unice?
    1. (0.5 puncte) Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. (0.5 puncte) Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. (0.5 puncte) Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. (0.5 puncte) Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) e utila pentru intelegerea agregarilor.
    1. (0.5 puncte) De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. (0.5 puncte) De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. (0.5 puncte) Care sunt sumele incasate pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. (optional) Cate echipe au participat la Euro 2012?
    1. (optional) Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. (0.5 puncte) Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. (0.5 puncte) Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. (obligatoriu, 0 puncte) Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. (0.5 puncte) Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. (0.5 puncte) Pe care continent se bea mai multa bere, in medie?
    1. (0.5 puncte) Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. (0.5 puncte) Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Se acorda 3 puncte din oficiu.
* Predarea se va face in saptamana 23-27 martie 2020.
* Temele se pot lucra in echipe de cate 2 studenti. Tema se va depune in lucrarea de pe site=ul de elearning

1.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./chipotle.tsv",sep='\t')

In [3]:
#A primele 5 valori
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
#B nr de inregistrari(nu este inclus si header-ul)
print ("Nr of rows: ", df.shape[0])

4622

In [5]:
#C info() vs describe()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [10]:
#D nr de coloane si numele lor
print ("Number of cols: ", df.shape[1])
print (df.columns)

5
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
#E Cum e indexat setul de date? sunt valorile din index unice?
print (type(df.index))
print (df.index.is_unique)

<class 'pandas.core.indexes.range.RangeIndex'>
True

In [19]:
#F Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
unique_items = df['item_name'].unique()
unique_items.sort()
print(unique_items)
print("Number of items: ", unique_items.shape[0])

['6 Pack Soft Drink' 'Barbacoa Bowl' 'Barbacoa Burrito'
 'Barbacoa Crispy Tacos' 'Barbacoa Salad Bowl' 'Barbacoa Soft Tacos'
 'Bottled Water' 'Bowl' 'Burrito' 'Canned Soda' 'Canned Soft Drink'
 'Carnitas Bowl' 'Carnitas Burrito' 'Carnitas Crispy Tacos'
 'Carnitas Salad' 'Carnitas Salad Bowl' 'Carnitas Soft Tacos'
 'Chicken Bowl' 'Chicken Burrito' 'Chicken Crispy Tacos' 'Chicken Salad'
 'Chicken Salad Bowl' 'Chicken Soft Tacos' 'Chips'
 'Chips and Fresh Tomato Salsa' 'Chips and Guacamole'
 'Chips and Mild Fresh Tomato Salsa' 'Chips and Roasted Chili Corn Salsa'
 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Tomatillo Green Chili Salsa'
 'Chips and Tomatillo Red Chili Salsa'
 'Chips and Tomatillo-Green Chili Salsa'
 'Chips and Tomatillo-Red Chili Salsa' 'Crispy Tacos' 'Izze'
 'Nantucket Nectar' 'Salad' 'Side of Chips' 'Steak Bowl' 'Steak Burrito'
 'Steak Crispy Tacos' 'Steak Salad' 'Steak Salad Bowl' 'Steak Soft Tacos'
 'Veggie Bowl' 'Veggie Burrito' 'Veggie Crispy Tacos' 'Veggie Salad'
 'Veggie Salad Bowl' 'Veggie Soft Tacos']
Number of items:  50

In [20]:
#G Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?

print(sum(df['quantity']))

4972

In [28]:
#H Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point.
# Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? 
# Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? 
# Nota: puteti folosi metoda describe() a unui dataframe/series.

item_prices = pd.DataFrame(df['item_price'], dtype='float')

item_prices.head()

ValueError: could not convert string to float: '$2.39 '